/* apply a natural box layout model to all elements,
 but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  text-decoration: none;
}

::-webkit-scrollbar { width: 0; }

html {
  box-sizing: border-box;
  transform-style: preserve-3d;
  height: 100%;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background: url('/img/apple-iphone-5.png') white center no-repeat
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-50%, 50%); */
  width: 320px;
  /* min-height: 420px; */
  height: 548px;
  margin: 10px 0 0 -1px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 1.2em;
  font-size: 1.2rem;
  line-height: 1.1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  outline: 1px solid #222;
  background-color: white;
}

ul, menu {
  list-style: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: 20px;
  padding: 10px 10px;
}

header {
  height: 44px;
}

nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0px;
  height: 44px;
  line-height: 46px;
  /* background-color: #F8F8F8; */
  /* border-bottom: 1px solid silver; */
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  background-color: white;
}

nav li {
  top: 0;
  min-width: 50px;
  color: #ff453b;
}

nav a {
  display: block;
  text-decoration: none;
  color: #ff453b;
}

nav li.back a {
  color: transparent;
}

nav li.startdate a {
  color: black;
}

nav ul > li.center {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: initial;
  text-align: center;
  font-size: 18px;
  color: black;
}

nav li:first-of-type {
  position: absolute;
  left: 0;
  margin-left: 5px;
}

nav li:last-of-type {
  position: absolute;
  right: 0;
  padding-right: 10px;
  text-align: right;
}

nav li.cancel {
  width: 50px;
  left: initial;
  margin-right: 10px;
  background: url("/icons/me/cross_icon-01.svg") right/18px no-repeat;
  color: transparent;
}

nav li.back {
  width: 50px;
  height: 100%;
  background: url("/icons/basic/left_arrow_red-01.svg") 5px no-repeat;
  background-size: 14px;
  color: transparent;
}

nav li.close:after {
  content: "\00D7";
  position: absolute;
  color: #ff453b;
  top: 12px;
  right: 10px;
  font-size: 40px;
  line-height: 0;
  font-weight: 400;
}

nav #settings > a {
  background: url("/icons/me/settings_icon_red-01.svg") 5px no-repeat;
  background-size: 23px;
  color: transparent;
}

nav li.add > a {
  background: url("/icons/me/plus_icon_red-01.svg") right no-repeat;
  background-size: 20px;
  color: transparent;
}

menu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 44px;
  background-color: #F8F8F8;
  border-top: 1px solid silver;
  margin: 0;
  text-align: center;
}

menu > li {
  display: inline-block;
  text-align: center;
  /* outline: 1px solid blue; */
  width: 23%;
  /* width: 44px; */
  height: 44px;
}

menu > li > a {
  display: inline-block;
  width: 100%;
  height: 44px;
  overflow: hidden;
  text-indent: -1000px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* line-height: 0; */
  /* font-size: 0; */
  /* outline: 1px solid red; */
}

main {
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p.time {
  font-size: 370%;
}

p.duration {
  font-size: 13px;
  font-weight: 300;
  color: #888;
}

p.visibility {
  position: absolute;
  width: 100%;
  bottom: 40px;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
  color: #ff453b;
}

figure {
  width: 100%;
  display: block;
  height: 163px;
  margin: 9px 0;
  overflow: hidden;
}

img {
  width: 100%;
}

address {
  font-size: 11px;
  font-style: normal;
  font-family: sans-serif;
  line-height: 16px;
}
address:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  background: url("/icons/location-arrow.png") center no-repeat;
  background-size: 14px auto;
}

/* forms with borders */

fieldset.border {
  border: 1px solid black;
  width: 300px;
  margin: 15px auto;
  border-radius: 9px;
  line-height: 50px;

}

fieldset.border label {
  float: left;
  padding-left: 15px;
  width: 100px;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}

fieldset.border input {
  font-size: 16px;
  max-width: 296px; /* because of input type file */
}

fieldset.border div {
  border-bottom: 1px solid black;
}

fieldset.border div:last-of-type {
  border: none;
}

/* login */

.login > p {
  font-size: 30px;
}

.login > .socialLinks > a {
  display: inline-block;
  height: 110px;
  width: 90px;
  color: transparent;
}

.login > .socialLinks > #facebook-login {
  background: url("/icons/login/facebook_round_circle-01.svg") center / 70px no-repeat;
}

.login > .socialLinks > #twitter-login {
  background: url("/icons/login/twitter_round_icon-01.svg") center / 70px no-repeat;
}

#login-menu {
  background-color: white;
  border-top: none;
}

#login-menu > li {
  width: initial;
}

#login-menu > li > a {
  width: 120px;
  color: grey;
  font-size: 13px;
  text-indent: 0;
}

/* user/me/home */

#userImage {
  background: url("/icons/me/me_icon_grey-01.svg") center no-repeat;
}

#userImage > img.user {
  width: 50%;
}

img.user {
  height: 100%;
  border-radius: 80px;
}

.userImg {
  width: 50%;
  height: 98%;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 82px;
}

.userImg p {
  position: relative;
  top: -95px;
  z-index: -1;
  text-align: center;
  font-size: 26px;
  font-weight: 200;
  color: #888;
}

.list {
  overflow: auto;
}

#groupList {
  height: 460px;
}

#groupList .list-item {
  height: 90px;
  padding: 8px 0 0 10px;
}

#groupList figure {
  width: 70px;
  height: 70px;
  margin: 0 15px 0 0;
  border-radius: 36px;
}

.groupImg {
  /* width: 70px; */
  /* height: 70px; */
}

.groupInfo {
  float: left;
  height: 100%;
  width: 200px;
}

.slotList {
  height: 220px;
}

#myGroupSlots .slotList {
  height: 283px;
}

.slotListMenu .calDate,
.slotList .calDate {
  margin-bottom: 10px;
  border: none;
  color: red;
  font-size: 28px;
  font-weight: 100;
}

.list-item {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 4px 5%;
}

.list-item a {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 44px;
  color: gray;
}

.list-item time {
  display: inline-block;
  width: 55px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  color: white;
  border-radius: 2px;
  background-color: red;
}

.list-item figure {
  float: left;
  width: 40px;
  height: 40px;
  margin: 2px 10px 2px 0;
  border-radius: 21px;
  background: url("/icons/landing/timeslot_logo-01.svg");
}

.list-item h2 {
  float: left;
  width: 80%;
  color: black;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#slotlist img {
  width: initial;
  height: 100%;
}

.list-item small {
  float: left;
  width: 80%;
  margin-bottom: 6px;
  text-align: left;
  font-size: 11px;
  font-weight: 200;
}

#me.active {
  background-image: url("/icons/me/me_small_icon_red-01.svg");
}

#me {
  background-image: url("/icons/me/me_small_icon_grey-01.svg");
  background-size: 25px auto;
  background-position: 50% 2px;
}

#groups.active {
  background-image: url("/icons/me/groups_icon_red-01.svg");
}

#groups {
  background-image: url("/icons/me/groups_icon_grey-01.svg");
  background-size: 25px auto;
  background-position: 50% 2px;
}

#friends {
  background-image: url("/icons/me/friends_icon_grey-01.svg");
  background-size: 34px auto;
  background-position: 50% 4px;
}

/* me - menu */
.me > li {
  width: 32%;
}

.me > li > a.active {
  color: red;
}

.me > li > a {
  text-indent: 0;
  width: 100%;
  font-size: 13px;
  line-height: 71px;
  color: gray;
}

menu li.active {
  color: red;
}

/* edit me */

.editMe > figure {
  margin: 20px 0;
}

/* location search view / animation */

.noOverflow {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.viewWithLocSearch {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: opacity, left;
  transition-duration: 1s, .5s;
}

.viewWithLocSearch.active {
  transition-property: opacity, left;
  transition-duration: .5s;
}

.mainForm {
  left: 0px;
  opacity: 0;
  transition-property: opacity, left;
  transition-duration: 1s, .5s;
}

.mainForm.active {
  opacity: 1;
}

.locForm {
  left: 320px;

  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .01s;

  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .01s;
}

.locForm.active {
  left: 0px;
}
/* the keyframe animation is just to fix a layout bug
on the first load with the location search */
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateX(-40px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes dropHeader {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

 /* add a slot */

.addSlot h1 {
  font-size: 33px;
  font-weight: 100;
}

.addSlot fieldset {
  margin: 20px 0;
}

.addSlot fieldset input,
.addSlot fieldset select {
  border-bottom: 1px solid #eee;
  width: 90%;
  font-size: 15px;
  line-height: 40px;
}

.addSlot fieldset select {
  background-color: white;
}

.search {
  background-color: #ccc;
  height: 40px;
  border-top: 1px solid #bbb;
}

.locationSearch {
  text-align: left;
}

.locationSearch input {
  display: block;
  width: 95%;
  margin: 7px auto;
  padding: 0 10px 0 25px;
  -webkit-appearance: searchfield;
  line-height: 24px;
  font-size: 14px;
  border-radius: 4px;
}

.locationSearch h2 {
  background-color: #f7f7f7;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 400;
  line-height: 23px;
}

.locationSearch .results {
  margin: 5px;
}

.locationSearch .result {
  height: 50px;
  padding: 10px 0 0 35px;
  border-bottom: 1px solid gainsboro;
  line-height: 16px;
  font-size: 18px;
  font-weight: 200;
  background: url("/icons/location/pin_icon_red-01.svg") 11px/10px auto no-repeat;
}

.locationSearch .result.active {
  background-color: lightgray;
}

.locationSearch .result small {
  font-size: 13px;
}


/* show slot */
menu[role="toolbar"] .share {
  background-image: url("/icons/icon-foo.png");
  background-size: 22px auto;
  background-position: 50% 5px;
}

menu[role="toolbar"] .fave {
  background-image: url("/icons/icon-fave.png");
  background-size: 30px auto;
  background-position: 50% 4px;
}

menu[role="toolbar"] .alarm {
  background-image:url("/icons/icon-alarm.png");
  background-size: 26px auto;
  background-position: 50% 4px;
}

menu[role="toolbar"] .delete {
  background-image: url("/icons/icon-delete.png");
  background-size: 18px auto;
}


/* general */

/* remove chromes damn grey border around images with no source */
img[src=''] {
  opacity:0;
}


/* landing */

.landing {
  height: 100%;
  padding-top: 50px;
  color: grey;
  background: url("/icons/landing/timeslot_logo-01.svg") center center / 100px no-repeat;

}

.landing > h1 {
  font-size: 30px;
  font-weight: 100;
}

.landing > h4 {
  font-size: 12px;
  font-style: italic;
  font-weight: 200;
}

.landing > a > p {
  position: absolute;
  bottom: 80px;
  left: 50px;
  width: 220px;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: gray;
  background: url("/icons/landing/signout_icon-01.svg") 200px / 20px no-repeat;
}

.landing-menu {
  height: 60px;
  background-color: white;
  border-top: none;
}

.landing-menu > li {
  width: 140px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid grey;
  border-radius: 3px;
}

.landing-menu > li > a {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
  text-indent: 0;
}

/* create group */
#groupImage > a {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid gainsboro;
  border-radius: 76px;
  line-height: 130px;
  color: gainsboro;
  background: url("/icons/groups/camera_icon-01.svg") center 90px / 28px no-repeat;
}

#createGroup > fieldset > input {
  width: 90%;
  padding: 0 5%;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  line-height: 50px;
  font-size: 16px;
}



/* user list / befriending */

#userlist .list-item h2 {
  width: 150px;

}

#userlist button {
  width: 170px;
  height: 20px;
}

/* user page */

#user p {
  font-size: 12px;
  color: #aaa;
  font-weight: 200;
  line-height: 28px;
}

#user dl {
  width: 200px;
  margin: 30px auto;
  font-size: 14px;
  color: gray;
  font-weight: 200;
  line-height: 21px;
}

#user dt {
  float: left;
  width: 97px;
  padding-right: 8px;
  border-right: 1px solid gainsboro;
  text-align: right;
}

#user dd {
  width: 150px;
}


/* button menu */

.buttonMenu {
  height: 80px;
  border-top: none;
  background-color: white;
}

.buttonMenu button,
.buttonMenu a {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid;
  border-radius: 36px;
  font-size: 16px;
  text-indent: initial;
  line-height: 70px;
  font-weight: 200;
}

/* try to get rid of this */
a.ok {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 36px;
  line-height: 70px;
}

.buttonMenu > li {
  width: 70px;
  height: 70px;
}

.buttonMenu a {
  color: black;
}

.twoButtons > li:first-of-type {
  float: left;
  margin-left: 30px;
}

.twoButtons > li:last-of-type {
  float: right;
  margin-right: 30px;
}

.red {
  color: red;
}

.buttonMenu .red {
  border-color: red;
}

.buttonMenu .green {
  color: green;
  border-color: green;
}

.buttonMenu .greenFull,
.greenFull {
  background-color: #DCF840;
  border-color: #DCF840;
}
