---
http_interactions:
- request:
    method: post
    uri: https://email.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SendEmail&Destination.ToAddresses.member.1=success%40simulator.amazonses.com&Message.Body.Html.Data=%3Ch3%3EYour%20new%20timeslot%20password%3C%2Fh3%3E%3Cp%3E4u5aQOUP%3C%2Fp%3E&Message.Body.Text.Data=Your%20new%20timeslot%20password%3A%204u5aQOUP&Message.Subject.Data=Your%20new%20Password%20for%20Timeslot&ReplyToAddresses.member.1=passwords%40timeslot.com&ReturnPath=invalid_email_address%40timeslot.com&Source=support%40timeslot.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150626T144000Z
      X-Amz-Content-Sha256:
      - c6844637b20852155765c7a791e1e30cf9179ba090de8a1b0196d3e115ae836e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIN2CTRQN4HEM2BRA/20150626/us-west-2/ses/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=1c0d882966053cec5401c95b99dd6a67ab407e692f36ec662dced3514bdf4acb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 39bbf879-1c11-11e5-9396-95f5a5332849
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendEmailResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SendEmailResult>
            <MessageId>0000014e304f9f3e-d60f4809-f7df-4a88-a454-a16949fb0d1e-000000</MessageId>
          </SendEmailResult>
          <ResponseMetadata>
            <RequestId>39bbf879-1c11-11e5-9396-95f5a5332849</RequestId>
          </ResponseMetadata>
        </SendEmailResponse>
  recorded_at: Fri, 26 Jun 2015 14:40:01 GMT
recorded_with: VCR 2.9.3
