---
http_interactions:
- request:
    method: post
    uri: https://email.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SendEmail&Destination.ToAddresses.member.1=success%40simulator.amazonses.com&Message.Body.Html.Data=%3Ch3%3EYour%20new%20timeslot%20password%3C%2Fh3%3E%3Cp%3Eu0yhwnsc%3C%2Fp%3E&Message.Body.Text.Data=Your%20new%20timeslot%20password%3A%20u0yhwnsc&Message.Subject.Data=Your%20new%20Password%20for%20Timeslot&ReplyToAddresses.member.1=passwords%40timeslot.com&ReturnPath=invalid_email_address%40timeslot.com&Source=support%40timeslot.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150626T144001Z
      X-Amz-Content-Sha256:
      - ee50bec63e76297f7af2ce5a0db2b8cc025ab7adb5111393434d6a7869ad5311
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIN2CTRQN4HEM2BRA/20150626/us-west-2/ses/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=98dcb3208814632cc56269e6f2387209533a46b807d16f8b5f55af72c04f4a80
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3a3fa783-1c11-11e5-a63b-a3f882396640
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendEmailResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SendEmailResult>
            <MessageId>0000014e304fa2a0-f58db400-245a-41e0-a0e3-ad437717fa11-000000</MessageId>
          </SendEmailResult>
          <ResponseMetadata>
            <RequestId>3a3fa783-1c11-11e5-a63b-a3f882396640</RequestId>
          </ResponseMetadata>
        </SendEmailResponse>
  recorded_at: Fri, 26 Jun 2015 14:40:02 GMT
recorded_with: VCR 2.9.3
