Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["timeslot.casino.beanstalk.configs"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/app_environment_variables.rb" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: {
            "Fn::Join" : [ "", [
                       "https://s3.eu-central-1.amazonaws.com/timeslot.casino.beanstalk.configs/",
                       { "Ref" : "AWSEBEnvironmentName" },
                       "_config_variables.rb" ] ]
            }
