        /* CSS Stylesheet */
        html, body{
            height: 100%;
            width: 100%;
            margin: 0;
            padding:0;
            background: none;
            border: none;
            text-align: center;
        }
        section, footer{
            padding: 2%;
            text-align: center;
            margin: 0 auto;
        }
        header nav{
            display: none;
        }
        header nav ul{
            margin: 0;
            padding: 0;
        }
        header nav ul li{
            display: inline;
        }

        #slot_start{
            font-size: 6em;
            margin: 0;
            padding: 0;
            font-weight: 200;
        }
        #slot_duration{
            color: #999;
        }
