        /* CSS Stylesheet */
        html, body{
            height: auto;
            width: auto;
            font-family: 'Lato';

        }
        section, footer{
            background-color: transparent;
            border: none;
        }
