---
http_interactions:
- request:
    method: post
    uri: https://email.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SendEmail&Destination.ToAddresses.member.1=user598%40email.com&Message.Body.Html.Data=%3Ch3%3EYour%20new%20timeslot%20password%3C%2Fh3%3E%3Cp%3Ezgd3C8Yd%3C%2Fp%3E&Message.Body.Text.Data=Your%20new%20timeslot%20password%3A%20zgd3C8Yd&Message.Subject.Data=Your%20new%20Password%20for%20Timeslot&ReplyToAddresses.member.1=passwords%40timeslot.com&ReturnPath=invalid_email_address%40timeslot.com&Source=support%40timeslot.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151124T235006Z
      X-Amz-Content-Sha256:
      - d86799444f63c3eac92065e17b2d03da47852822fd497beba6d90203d3c045da
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIN2CTRQN4HEM2BRA/20151124/us-west-2/ses/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=16b6e56942e5e452740e4a9ed0174700b5d3896820cea0e4edb703c356c205fc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 171a89d8-9306-11e5-9d07-558f4877638d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendEmailResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SendEmailResult>
            <MessageId>000001513be7842a-9524fece-02c0-4075-a7cf-30d6491f16f9-000000</MessageId>
          </SendEmailResult>
          <ResponseMetadata>
            <RequestId>171a89d8-9306-11e5-9d07-558f4877638d</RequestId>
          </ResponseMetadata>
        </SendEmailResponse>
  recorded_at: Tue, 24 Nov 2015 23:50:07 GMT
recorded_with: VCR 3.0.0
