---
http_interactions:
- request:
    method: post
    uri: https://email.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SendEmail&Destination.ToAddresses.member.1=user597%40email.com&Message.Body.Html.Data=%3Ch3%3EYour%20new%20timeslot%20password%3C%2Fh3%3E%3Cp%3EnQWL4bZW%3C%2Fp%3E&Message.Body.Text.Data=Your%20new%20timeslot%20password%3A%20nQWL4bZW&Message.Subject.Data=Your%20new%20Password%20for%20Timeslot&ReplyToAddresses.member.1=passwords%40timeslot.com&ReturnPath=invalid_email_address%40timeslot.com&Source=support%40timeslot.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151124T235005Z
      X-Amz-Content-Sha256:
      - 4822d0ef00d7259acb270cf6330d8564ef9585411bade737d3582e3a37309bff
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIN2CTRQN4HEM2BRA/20151124/us-west-2/ses/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=aef535b70f07d9e8ab1db4085c9510af9c7926fec34f86add2f6ceea13ff7ffc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 16ab7452-9306-11e5-9d56-b7a3348963e0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendEmailResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SendEmailResult>
            <MessageId>000001513be7814d-127136c3-813e-4a9a-af0d-fcbecfba05ae-000000</MessageId>
          </SendEmailResult>
          <ResponseMetadata>
            <RequestId>16ab7452-9306-11e5-9d56-b7a3348963e0</RequestId>
          </ResponseMetadata>
        </SendEmailResponse>
  recorded_at: Tue, 24 Nov 2015 23:50:06 GMT
recorded_with: VCR 3.0.0
