---
http_interactions:
- request:
    method: post
    uri: https://email.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SendEmail&Destination.ToAddresses.member.1=user596%40email.com&Message.Body.Html.Data=%3Ch3%3EYour%20new%20timeslot%20password%3C%2Fh3%3E%3Cp%3E06PgX__C%3C%2Fp%3E&Message.Body.Text.Data=Your%20new%20timeslot%20password%3A%2006PgX__C&Message.Subject.Data=Your%20new%20Password%20for%20Timeslot&ReplyToAddresses.member.1=passwords%40timeslot.com&ReturnPath=invalid_email_address%40timeslot.com&Source=support%40timeslot.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151124T235004Z
      X-Amz-Content-Sha256:
      - 190786dc0aeae9f344ad4d66e041c87c7e6ee9cf2ddee06cbae072c988099144
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIN2CTRQN4HEM2BRA/20151124/us-west-2/ses/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=18d8437ecb269e46cd0c1ee6736ce23f50c55397e38143b5507f858f77cc13d1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1632e8e9-9306-11e5-9d56-b7a3348963e0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendEmailResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SendEmailResult>
            <MessageId>000001513be77e3a-d2a7c125-6ba7-4222-a954-233a7443334a-000000</MessageId>
          </SendEmailResult>
          <ResponseMetadata>
            <RequestId>1632e8e9-9306-11e5-9d56-b7a3348963e0</RequestId>
          </ResponseMetadata>
        </SendEmailResponse>
  recorded_at: Tue, 24 Nov 2015 23:50:05 GMT
recorded_with: VCR 3.0.0
