---
http_interactions:
- request:
    method: post
    uri: https://email.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SendEmail&Destination.ToAddresses.member.1=success%40simulator.amazonses.com&Message.Body.Html.Data=%3Ch3%3EYour%20new%20timeslot%20password%3C%2Fh3%3E%3Cp%3E58VvvoNh%3C%2Fp%3E&Message.Body.Text.Data=Your%20new%20timeslot%20password%3A%2058VvvoNh&Message.Subject.Data=Your%20new%20Password%20for%20Timeslot&ReplyToAddresses.member.1=passwords%40timeslot.com&ReturnPath=invalid_email_address%40timeslot.com&Source=support%40timeslot.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150626T143944Z
      X-Amz-Content-Sha256:
      - 5e0f5d8b71ed05641bf270e43dd80a4621d4c36d764377c6a2affdd5764acffb
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIN2CTRQN4HEM2BRA/20150626/us-west-2/ses/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=8cd646fd48f9bc39cd15299e800eaff6a307e50a6a5b3f454dcbc1208fd47470
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 307f788b-1c11-11e5-af41-2b887598eba9
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendEmailResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SendEmailResult>
            <MessageId>0000014e304f62b5-2c1b5a6e-74e3-4d57-b558-552715ba566f-000000</MessageId>
          </SendEmailResult>
          <ResponseMetadata>
            <RequestId>307f788b-1c11-11e5-af41-2b887598eba9</RequestId>
          </ResponseMetadata>
        </SendEmailResponse>
  recorded_at: Fri, 26 Jun 2015 14:39:46 GMT
recorded_with: VCR 2.9.3
